*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card{
  width: 300px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 100px auto;
  padding: 0;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  position: relative;
}

body{
  background-color: #e4e1e1;
  display: flex;
}

.img img{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
}

.info h1{
  font-size: 35px;
  margin: 10px 0;
}

.info p{
  font-size: 16px;
  color: #000000;
  margin: 0;
}

.info button{
  background-color: #000000;
  cursor: pointer;
  color: #ffffff;
  border-radius: 20px;
  border: 2px solid red;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: large;
}

.info button:hover{
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #09d910;
}

.info button:active{
  background-color: #bfce19;
  color: #d11486;
}

.info button a{
  color: #fdfdfd;
  text-size: large;
  text-decoration: none
}

.info button a:hover{
  color: #000000;
}
